//后台框架尺寸
//菜单宽度
$navMenu: 200px;
$navMenumin: 64px;
$mainColor: #f56c6c;
$layoutHeader: 75px;
//快捷键，选中单词后 ctrl +d
@mixin webkit($type,$value) {
    -webkit-#{$type}: $value;
    -moz-#{$type}: $value;
    -o-#{$type}: $value;
    -ms-#{$type}: $value;
    #{$type}: $value;
}